:root {
  --menu-height: 3.875rem;
  --menu-py: 1rem;
}

body:has(.hamburger-icon[aria-expanded='true']) {
  overflow: hidden;
}

.menu {
  background-color: var(--color-white);
  border-bottom: solid 1px var(--color-gray-50);
  box-shadow: var(--shadow-base);
  min-height: var(--menu-height);
  padding-bottom: var(--menu-py);
  padding-top: var(--menu-py);
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu__nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-logo__mobile {
  width: 2.5625rem;
}

.menu-logo__desktop {
  display: none;
  width: 7.6875rem;
}

.menu__pages {
  background-color: var(--color-white);
  height: calc(100vh - var(--menu-height));
  left: 0;
  opacity: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(0, -2%);
  visibility: hidden;
  z-index: 1;
  transition: transform 0.2s ease-in, visibility 0.2s ease-in,
    opacity 0.2s ease-in;
}

.menu__pages:has(+ .nav__actions .hamburger-icon[aria-expanded='true']) {
  opacity: 1;
  transform: translate(0, 0);
  visibility: visible;
}

.menu-pages__item {
  position: relative;
}

.menu-pages__item + .menu-pages__item::before {
  border-top: solid 1px var(--color-gray-50);
  content: '';
  left: var(--container-px);
  position: absolute;
  right: var(--container-px);
  top: 0;
}

.menu-pages__link {
  color: var(--color-black);
  display: flex;
  font-weight: 600;
  padding: 1.25rem var(--container-px);
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.menu-pages__link:where(:hover, :focus, :focus-visible) {
  background-color: color-mix(
    in oklch,
    var(--color-primary-brand) 5%,
    transparent
  );
}

.nav__actions {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.hamburger-icon {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  height: 1rem;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 1.125rem;
}

.hamburger-icon[aria-expanded='true'] {
  gap: 0;
}

.hamburger-icon__line {
  background-color: var(--color-black);
  border-radius: var(--border-radius-base);
  display: flex;
  height: 2px;
  transition: transform cubic-bezier(0.04, 0.18, 0, 1.29) 0.2s;
  width: 100%;
}

.hamburger-icon[aria-expanded='true'] .hamburger-icon__line {
  margin: 0;
  position: absolute;
}

.hamburger-icon[aria-expanded='true'] .hamburger-icon__line:nth-child(2) {
  display: none;
}

.hamburger-icon[aria-expanded='true'] .hamburger-icon__line:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger-icon[aria-expanded='true'] .hamburger-icon__line:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 70rem) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 0;
  }

  .menu-wrapper {
    display: flex;
    width: 100%;
  }

  .menu-logo__mobile {
    display: none;
  }

  .menu-logo__desktop {
    display: revert;
  }

  .hamburger-icon {
    display: none;
  }

  .menu__nav {
    gap: 0;
    width: 100%;
  }

  .menu__pages {
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--text-sm);
    height: unset;
    margin-left: auto;
    opacity: 1;
    position: relative;
    top: unset;
    transform: translate(0, 0);
    transition: none;
    visibility: visible;
  }

  .menu-pages__item + .menu-pages__item::before {
    content: none;
  }

  .menu-pages__link {
    align-items: center;
    height: 100%;
    padding: 0.9375rem var(--menu-py);
  }

  .nav__actions {
    margin-left: 0.9375rem;
  }
}
