.tab__tablist {
  background-color: var(--color-white);
  border-radius: 30px;
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding: 0.375rem;
}

@media (min-width: 48rem) {
  .tab__tablist {
    align-self: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
  }
}
