:root {
  scroll-behavior: smooth;
}

/****** HERO SECTION ******/
.hero-lp {
  position: relative;
}

.hero-lp__content {
  padding-top: var(--spacing-4xl);
}

.hero-lp__actions > * {
  display: flex;
  width: 100%;
}

.hero-lp__aside-placeholder {
  display: none;
}

@media (min-width: 48rem) {
  .hero-lp__actions > * {
    display: inline-flex;
    width: unset;
  }

  .hero-lp {
    display: flex;
  }

  .hero-lp__picture {
    overflow: hidden;
  }

  .hero-lp__aside {
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .hero-lp__aside img {
    height: 100%;
    object-fit: cover;
    object-position: left top;
    width: 100%;
  }

  .hero-lp__content {
    order: -1;
    padding-top: var(--section-py);
    position: relative;
  }

  .hero-lp__aside-placeholder {
    aspect-ratio: 1338 / 1578;
    display: revert;
  }
}

/****** CTA FOLD ******/
.cta-fold {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media (min-width: 48rem) {
  .cta-fold {
    text-align: center;
  }

  .cta-fold__actions {
    justify-content: center;
  }
}

/****** LOGO PICKER ******/
.logo-picker {
  background-color: var(--color-brand-sky-500);
  padding-left: var(--container-px);
  padding-right: var(--container-px);
}

@media (min-width: 48rem) {
  .logo-picker {
    padding-bottom: 2.6875rem;
    padding-top: 2.6875rem;
  }
}

/****** WHAT EXPECT ******/
.expect {
  background-color: var(--color-white);
}

.expect__card-list {
  margin-top: var(--spacing-4xl);
}

@media (min-width: 48rem) {
  .expect__header {
    text-align: center;
  }

  .expect__card-list {
    margin-top: var(--spacing-6xl);
  }
}

/****** SCHEDULE ******/
.schedule {
  background-color: var(--color-white);
  padding-top: 0;
  position: relative;
}

.schedule__illustration img {
  width: 100%;
}

.schedule__content {
  margin-top: var(--spacing-4xl);
}

.schedule__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-sm);
}

.schedule-list__item {
  display: flex;
  gap: var(--spacing-xl);
}

.schedule-list__time {
  flex-basis: 50%;
  flex-shrink: 0;
  font-weight: 500;
  max-width: 100px;
}

.schedule__table tr {
  border-top: solid 1px red;
  padding: 1rem;
}

@media (min-width: 48rem) {
  .schedule {
    padding-top: var(--section-py);
  }

  .schedule__illustration {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .schedule__illustration picture {
    height: 100%;
  }

  .schedule__illustration img {
    height: 100%;
    object-fit: cover;
  }

  .schedule__content {
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    margin-top: 0;
    min-width: 31.25rem;
    padding: var(--spacing-6xl);
    position: relative;
  }

  .schedule__title {
    text-align: center;
  }
}

/****** SPONSORS ******/
.sponsors {
  background-color: var(--color-gray-10);
}

.sponsors__main {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-4xl);
}

.sponsors__item {
  animation: subtleFadeSlideUp 0.4s ease-out;
}


.sponsors__content {
  margin-top: var(--spacing-4xl);
}

.sponsors-card__feature {
  aspect-ratio: 353 / 238;
  background-color: var(--color-gray-50);
}

@container (min-width: 40rem) {
  .sponsors-card__feature {
    aspect-ratio: 793 / 333;
  }
}

@media (min-width: 48rem) {
  .sponsors__header {
    text-align: center;
  }

  .sponsors__main {
    margin-top: var(--spacing-6xl);
  }

  .sponsors__content {
    margin-top: var(--spacing-6xl);
  }
}

/****** ARTICLES SLIDER ******/
.articles__carousel {
  margin-top: var(--spacing-4xl);
}

.articles__list {
  display: flex;
  gap: var(--container-px);
}

.articles__item {
  align-self: screth;
  flex-shrink: 0;
  width: 100%;
}

.articles__item .card {
  height: 100%;
}

.articles__item cite {
  font-style: normal;
}

.articles__item .card__footer {
  margin-top: auto;
  padding-top: var(--spacing-base);
}

.articles__pagination {
  margin-top: var(--spacing-4xl);
}

@media (min-width: 48rem) {
  .articles__header {
    text-align: center;
    --max-width-container: 40.75rem;
  }

  .articles__item {
    width: calc(33.33% - var(--spacing-4xl));
  }

  .carousel-controls {
    display: flex;
  }

  .articles__carousel {
    margin-top: var(--spacing-6xl);
  }

  .articles__list {
    gap: var(--spacing-4xl);
  }
}

@keyframes subtleFadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(var(--spacing-base));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
