/****** HERO SECTION ******/
.hero-lp {
  position: relative;
}

.hero-lp__content {
  padding-top: 2rem;
}

.hero-lp__actions > * {
  display: flex;
  width: 100%;
}

@media (min-width: 48rem) {
  .hero-lp__actions > * {
    display: inline-flex;
    width: unset;
  }
}

/****** CTA FOLD ******/
.cta-fold {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media (min-width: 48rem) {
  .hero-lp {
    display: flex;
  }

  .hero-lp__picture {
    overflow: hidden;
  }

  .hero-lp__aside {
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .hero-lp__aside img {
    height: 100%;
    object-fit: cover;
    object-position: left top;
    width: 100%;
  }

  .hero-lp__content {
    order: -1;
    padding-top: var(--section-py);
    position: relative;
  }

  .cta-fold {
    text-align: center;
  }

  .cta-fold__actions {
    justify-content: center;
  }

  .hero-lp__aside-placeholder {
    aspect-ratio: 1338 / 1578;
  }
}

/****** LOGO PICKER ******/
.logo-picker {
  background-color: var(--color-brand-sky-500);
  padding-left: var(--container-px);
  padding-right: var(--container-px);
}

@media (min-width: 48rem) {
  .logo-picker {
    padding-bottom: 2.6875rem;
    padding-top: 2.6875rem;
  }
}
