body {
  color: var(--color-black);
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-weight: normal;
  line-height: var(--text-base--line-height);
  overflow-wrap: break-word;
}

a {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
  font-weight: bold;
}

.flow > * + * {
  margin-top: var(--flow-spacing, var(--spacing-xs));
}

.page-title {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

.section-title {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.text-center {
  text-align: center;
}

@media (min-width: 48rem) {
  .page-title {
    font-size: var(--text-6xl);
    line-height: var(--text-6xl--line-height);
  }

  .section-title {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
  }
}
