.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-container);
  padding-left: var(--container-px);
  padding-right: var(--container-px);
}

.section {
  padding-bottom: var(--section-py);
  padding-top: var(--section-py);
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr auto;
  column-gap: 1rem;
}
