:root {
  /* border-radius */
  --border-radius-sm: 0.5rem;
  --border-radius-base: 1rem;

  /* colors */
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);
  --color-primary-brand: oklch(0.53 0.26 263.42);
  --color-primary-500: oklch(0.64 0.2 253.54);
  --color-brand-sky: oklch(0.96 0.02 245.94);
  --color-gray-50: oklch(0.92 0 0);
  --color-gray-100: oklch(0.88 0 0);
  --color-gray-200: oklch(0.85 0 0);
  --color-gray-400: oklch(0.7 0 0);
  --color-gray-600: oklch(0.45 0 0);

  /* container */
  --container-px: 1.5rem;
  --max-width-container: 77.5rem;

  /* font-family */
  --font-sans: 'TT Norms', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-title: 'Circuit', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* spacing */
  --spacing-xs: 0.75rem;
  --spacing-sm: 0.875rem;
  --spacing-base: 1rem;
  --spacing-2xl: 1.5rem;
  --spacing-3xl: 1.75rem;
  --spacing-4xl: 2.25rem;
  --spacing-6xl: 3.25rem;

  /* font-size */
  --text-xs: var(--spacing-xs);
  --text-sm: var(--spacing-sm);
  --text-base: var(--spacing-base);
  --text-2xl: var(--spacing-2xl);
  --text-3xl: var(--spacing-3xl);
  --text-4xl: var(--spacing-4xl);
  --text-6xl: var(--spacing-6xl);

  /* line-height */
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: 1.5;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.75);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-6xl--line-height: 1.076923;

  /* section */
  --section-py: 3rem;

  /* shadow */
  --shadow-base: 0 2px 4px oklch(0 0 0 / 0.08),
    0 2px 8px oklch(0.53 0.26 262.64 / 0.08);

  /* outline */
  --outline-width-base: 2px;
  --outline-offset-width-base: 2px;
}

@media (min-width: 48rem) {
  :root {
    --section-py: 6.25rem;
  }
}
